{% extends 'homepage/navigation.html'%}
{% load static %}
	{% block container %}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	<link rel="stylesheet" href={% static 'css/detailed.css' %}>
	<!-- <div class="main-container"> -->
		<div class="card-container">
			<div class="image-container">
				<img src="{{dogs_searched.images.url}}" alt="Image not available">
			</div>
			<div class="content-container">
				<h1>{{dogs_searched.breed_name}}</h1>
				<div class="detailed-content">
					<p id="brief">{{dogs_searched.brief}}</p>
					<div class="table-container">

						<div class="particular-card">
							<p id="title">Country origin -></p>
							<p>{{dogs_searched.country_origin}}</p>
						</div>
						<div class="particular-card">
							<p id="title">Color -></p>
							<p>{{dogs_searched.color}}</p>
						</div>
						<div class="particular-card">
							<p id="title">Temperament -></p>
							<p>{{dogs_searched.temperament}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<h2 class="traits-heading">TRAITS</h2>
		<div class="traits-card-container">
			
			<div class="height-card-container">
				<img src="https://img.icons8.com/plasticine/64/000000/dog.png"/>
				<p id="header">Height</p>
			    <p>{{dogs_searched.height}}</p>
			</div>
			<div class="height-card-container">
				<img src="https://img.icons8.com/cotton/64/000000/weight-1--v2.png"/>
				<p id="header">Weight</p>
			    <p>{{dogs_searched.weight}}</p>
			</div>
			<div class="height-card-container">
				<img src="https://img.icons8.com/plasticine/100/000000/like--v1.png"/>
				<p id="header">Lifespan</p>
			    <p >{{dogs_searched.lifespan}}</p>
			</div>
		</div>
	<!-- </div> -->
	{% include 'dogs/dog_comments.html'%}
    {% include 'homepage/newexplorecard.html'%}
	{% endblock %}
